@font-face { font-family: 'Open Sans'; src: url('/src/assets/fontweb/OpenSans-Regular.eot'); }
@font-face { font-family: 'Open Sans'; src: url('~/src/assets/fontweb/OpenSans-Regular.woff') format('woff'); }
@font-face { font-family: 'Open Sans'; src: url('~/src/assets/fontweb/OpenSans-Regular.svg') format('svg'); }
