// Used Controls:["dropdownlist","grid","button","multiselect","input","numerictextbox","checkbox","radio","datetime","calendar","dataviz","dialog","notification","tooltip","listview","forms"]
$base-theme:Default;
$skin-name:Ringo_theme;
$swatch-name:Blue Opal;
$border-radius: 2px;
$accent: #109dd2;
$info: #f50fd3;
$success: #edd713;
$warning: #ffb400;
$error: #db4240;
$text-color: #484848;
$bg-color: #ffffff;
$base-text: #484848;
$base-bg: #ffffff;
$hovered-text: #ffffff;
$hovered-bg: #109dd2;
$selected-text: #ffffff;
$selected-bg: #109dd2;
$series-a: #0069a5;
$series-b: #0098ee;
$series-c: #7bd2f6;
$series-d: #ffb800;
$series-e: #ff8517;
$series-f: #e34a00;
