div.reset {
    margin-top: 10px;
    position: relative;
    background-color: rgb(255, 255, 255);
    /* width: 337px; */
    height: 505px !important;
    color: #484848;
    /* background-image: url(../images/bg_ringo_login.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: initial; */
    background: linear-gradient(to bottom, #008787, #068995, #088caa, #0673ae, #095795, #11346e);
    border-radius: 3px;
}


@media (min-width: 320px) and (max-width: 667px) {
    div.reset {
        margin-top: 10px;
        position: relative;
        background-color: rgb(255, 255, 255);
        /* width: 406px; */
        height: 496px !important;
        color: #484848;
        /* background-image: url(../images/bg_ringo_login.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: initial; */
        background: linear-gradient(to bottom, #008787, #068995, #088caa, #0673ae, #095795, #11346e);
        border-radius: 3px;
    }
    
 
} 